@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
@theme inline {
  --color-white-LinkWater: #dce1eb;
  --color-red-CoralRed: #ff2850;
  --color-green-RiverBed: #325064;
  --color-blue-NileBlue: #283750;
  --color-black-Mirage: #191e28;
  --color-yellow-GoldSand: #f9d77e;
  --color-neiro: #ff0068;
  --color-soria: #0077ff;
  --color-boen: #ff8103;
  --color-sog: #03ddff;
  --color-nico: #6b95b0;
  --color-grim: #0071ff;
  --color-sabla: #e0ff00;
  --color-holi: #ffbc05;
  --font-lexend: var(--font-lexend);
}

* {
  box-sizing: border-box;
  @apply duration-400 ease-in-out;
}

body {
  @apply bg-white-LinkWater text-black-Mirage p-5 overflow-x-hidden;
}
