@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

@theme inline {
  --color-white-LinkWater: #dce1eb;
  --color-red-CoralRed: #ff2850;
  --color-green-RiverBed: #325064;
  --color-blue-NileBlue: #283750;
  --color-black-Mirage: #191e28;
  --color-yellow-GoldSand: #f9d77e;
  --color-neiro: #ff0068;
  --color-soria: #0077ff;
  --color-boen: #ff8103;
  --color-sog: #03ddff;
  --color-nico: #6b95b0;
  --color-grim: #0071ff;
  --color-sabla: #e0ff00;
  --color-holi: #ffbc05;
  --font-lexend: var(--font-lexend);
  --font-majorono: var(--font-majorono);
  --font-leckerli: var(--font-leckerli);
  --font-sofiasans: var(--font-sofiasans);
  --background-image-dotted-line: repeating-linear-gradient(
    to right,
    #dce1eb 0,
    #dce1eb 2px,
    transparent 2px,
    transparent 6px
  );
  --height-real-screen: 100dvh;
  --grid-auto-rows-screen-4: calc((100svh - 12rem) / 4);
  --grid-auto-rows-screen-mobile: calc((100svh - 12rem) / 2.5);
}

* {
  -webkit-tap-highlight-color: transparent;
  @apply duration-400 ease-in-out;
}

body {
  @apply bg-white-LinkWater text-black-Mirage overflow-x-hidden;
}

main {
  @apply min-h-screen;
}

nav {
  @apply z-50;
}

@layer utilities {
  .section-label {
    @apply text-white-LinkWater font-lexend  text-sm uppercase tracking-widest;
  }

  .custom-text-origin {
    transform-origin: 81% 68%;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

.hero-image {
  @apply absolute top-[74%] left-[14%] -translate-x-1/2 -translate-y-1/2 w-340 h-auto object-cover;
}
